.breadcrumbs {

}

.breadcrumbs__text {
  font-size: px-to-rem(16px);
  line-height: px-to-rem(20px);
}

.breadcrumbs__link {
  text-decoration: none;
  color: $black;
  border-bottom: 1px solid transparent;
  transition-duration: 500ms;
  transition-property: border-color;

  &:hover {
    border-bottom-color: $black;
  }

}

.breadcrumbs__separator {
  display: inline-block;
  margin: 0 3px;
}

.breadcrumbs__view {
  border-bottom: 1px solid $black;
  font-weight: 700;
}